

@using MVCCodeFirst.ViewModels.Home;
@model HomePageViewModel

@{


    ViewBag.Title = "HomePage";
}

<h2>HomePage</h2>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h2>Ana Sayfa Listeleme İşlemleri</h2>
            <hr />
        </div>
        
    </div>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">

                <li class="list-group-item active">
                    Kişiler
                </li>
                @foreach (var kisi in Model.Kisiler)
                {
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user green"></span>@(kisi.Ad+" "+kisi.SoyAd)(<i>@(kisi.Yas)</i>)
                    </li>
                }
            </ul>
        </div>

        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item active">
                    Adres
                </li>
                @foreach (var adres in Model.Adresler)
                {
                    <li class="list-group-item">
                        <span class="glyphicon glyphicon-user red"></span>@(adres.AdresTanim)(<i>@(adres.Kisi.Ad+" "+adres.Kisi.SoyAd)</i>)
                    </li>
                }
            </ul>
        </div>
    </div>

</div>
